/*
  Josh"s Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
:root{
  --white_color: #e0dcdc;
  --green_color:#596D48;
  --dark_green_color:#16200c;

  --h_font:"norse" ,"Courier New", Courier, monospace;
  --text_font: "arimo", "Times New Roman" , "Lucida Console",Arial , sans-serif ;
  
  --font_size: 14px;
  --input_font_size: 17px;
  --h2_font_size: 26px;
  --bg_color:#EAEDF0;
  --form_bg_color:#F6F7F8;
  --padding:30px;
  --big_padding:50px;
  --form_padding:90px;
}
body{
  font-family:var(--text_font);
  background-color: var(--bg_color);
}
@font-face {
    font-family: "norse";
    src: url("./fonts/norse-webfont.woff2") format("woff2"),
         url("./fonts/norse-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "arimo";
    src: url("./fonts/arimo-regular-webfont.woff2") format("woff2"),
         url("./fonts/arimo-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

.container{
  display: flex;
}

.left-side {
  background:   no-repeat url(./pic/bg_pic1.jpg) ;
  background-size:  contain;
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 45vh;
  align-items: center;
  justify-content: space-around;
} 

.left-side-up{
  display: flex;
  color: var(--white_color);
  font-family: var(--h_font);
  font-size: 80px;
  justify-content: center;
  margin-top: 150px;
  background-color: rgb(0 0 0 / 40%);
  background-size:  100%;
  width:  630px;
  margin-right: 62px;
}

.logo{
  height: 150px;
  margin-top: var( --big_padding);
}

.left-side-down{
  display: flex;
  color: var(--white_color);
  justify-content: center;
  font-size: var(--font_size);
}
a:link{
  color: var(--white_color);
   text-decoration: none;
}
a:visited {
    color: var(--green_color);
    text-decoration: none;
}

a:hover{
  color: var(--dark_green_color);
  text-decoration: underline;
}

.right-side{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
}

.right-side-up{
  display: flex;
  flex-direction: column;
  margin-bottom: var(--padding);
}

.right-side-up  > h1 {
    font-size: var(--h2_font_size);
    width: 885px;
}

.right-side-middle{
  background-color: var(--form_bg_color);
  width: 1289px;
  margin-left: -45px;
  padding-left: 45px;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.72);
  margin-bottom: var( --big_padding);
}
.right-side-middle > h1{
  font-size: var(--h2_font_size);
  margin-bottom: 20px;
  margin-top: 15px;
}

.form-row{
  display: flex;
  gap: var( --form_padding);
}

.form-item{
  font-size: var(--font_size);
  display: flex;
  flex-direction: column;
 
}

.form-item input[type="text"],
.form-item input[type="email"],
.form-item input[type="number"],
.form-item input[type="password"]{
  width: 350px;
  padding: 3px;
   border: 1px solid #E5E7EB;
   font-size: var(--input_font_size);
  border-radius: 3px;
  margin-bottom: var(--padding);
}

.form-item input[type="text"]:focus,
.form-item input[type="email"]:focus,
.form-item input[type="number"]:focus,
.form-item input[type="password"]:focus{
   outline: 1px solid  blue;
   box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.72);
}

.form-item input[type="password"]{
  margin-bottom: 45px;
}

input + span {
  position: relative;
}
.form-item input[type="password"]:user-invalid,
.form-item input[type="email"]:user-invalid{
    outline: 1px solid  red;
}
.form-item input[type="password"]:user-invalid + span::after{
  font-size: var(--font_size);
  position: absolute;
  content: "PLEASE ENTER PASSWORD BETWEEN 8 - 16";
  color: var(--white_color);
  background-color: black;
  padding: 5px 10px;
  top: -35px;
  left: 15px;
  border-radius: 3px;
}

.right-side-down button{
  background-color: var(--green_color);
  color: var(--white_color);
  width: 300px;
  padding: 10px;
  border-radius: 7px;
  margin-bottom: var(--padding);
  font-size: var(--input_font_size);
  font-weight: 500;
}

.right-side-down a:link{
  color: var(--green_color);
  font-size: var(--input_font_size);
}
