/*
  Josh"s Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
:root{
  --white_color: #e0dcdc;
  --green_color:#596D48;
  --dark_green_color:#16200c;

  --h_font:"norse" ,"Courier New", Courier, monospace;
  --text_font: "arimo", "Times New Roman" , "Lucida Console",Arial , sans-serif ;
  
  --font_size: 14px;
}
body{
  font-family:var(--text_font);
}
@font-face {
    font-family: "norse";
    src: url("./fonts/norse-webfont.woff2") format("woff2"),
         url("./fonts/norse-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: "arimo";
    src: url("./fonts/arimo-regular-webfont.woff2") format("woff2"),
         url("./fonts/arimo-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

.container{
  display: flex;
}

.left-side {
  background:   no-repeat url(./pic/bg_pic1.jpg) ;
  background-size:  contain;
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 55vh;
  align-items: center;
  justify-content: space-around;
} 

.left-side-up{
  display: flex;
  color: var(--white_color);
  font-family: var(--h_font);
  font-size: 80px;
  justify-content: center;
  margin-top: 100px;
  background-color: rgb(0 0 0 / 40%);
  background-size:  100%;
  width:  630px;
  margin-right: 54px;
}

.logo{
  height: 150px;
  margin-top: 50px;
}

.left-side-down{
  display: flex;
  color: var(--white_color);
  justify-content: center;
  font-size: var(--font_size);
}
a:link{
  color: var(--white_color);
   text-decoration: none;
}
a:visited {
    color: var(--green_color);
    text-decoration: none;
}

a:hover{
  color: var(--dark_green_color);
  text-decoration: underline;
}